* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth
}

body {
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
    font-size: 1.6rem
}

ul li {
    list-style-type: none
}

h1 {
    color: #fff;
    font-size: 3rem
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0
}

.row {
    max-width: 114rem;
    margin: 0 auto
}

.btn,
.btn:link,
.btn:visited {
    background: #333;
    color: #fff;
    border-bottom: .3rem solid #000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 6rem;
    display: inline-block;
    border-radius: .3rem;
    margin-top: 4.5rem;
    font-size: 1.6rem
}

h2 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center
}

h2::after {
    content: "";
    display: block;
    background: #fff;
    height: .4rem;
    width: 8.5rem;
    margin: auto;
    margin-top: 2rem
}

h3 {
    font-size: 2.3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

h4 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    margin-top: 2.5rem
}

.box {
    padding: 1%
}

.box p {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;
    color: #fff
}

.little-discription {
    font-size: 1.8rem;
    width: 60%;
    margin-left: 20%;
    text-align: center
}

header {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 57, 139, 0.9)), to(rgba(54, 57, 139, 0.9))), url(../css/img/hero-bg.jpg);
    background: linear-gradient(rgba(54, 57, 139, 0.9), rgba(54, 57, 139, 0.9)), url(../css/img/hero-bg.jpg);
    background-size: cover;
    background-position: center center;
    height: 85vh;
    position: relative;
    background-attachment: fixed
}

.logo {
    height: 3.5rem;
    width: auto;
    margin-top: 3.5rem;
    float: left
}

.hero-text-box {
    width: 100rem
}

section {
    padding: 8rem 0
}

.main-nav {
    float: right;
    margin-top: 4rem
}

.main-nav li {
    display: inline-block;
    margin-left: 1rem
}

.main-nav li:first-child {
    margin-left: 0
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(100, 58, 121, 0);
    padding: .4rem 1.5rem;
    border-radius: .3rem;
    display: inline-block;
    font-size: 1.6rem;
    -webkit-transition: .5s;
    transition: .5s;
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
    font-weight: 400
}

.main-nav li:hover a:link,
.main-nav li:hover a:visited {
    background: #643a79
}

.active {
    background: #643a79;
    border-radius: .3rem
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(135, 80, 156, .9);
    padding: 1rem 0;
    z-index: 999
}

.sticky .logo {
    margin-top: 0
}

.sticky .main-nav {
    margin-top: .3rem
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center
}

.btn-hero:link,
.btn-hero:visited {
    background: #3a23b9;
    border-color: #180d9d
}

.mobile-manu {
    color: #fff;
    font-size: 3rem;
    float: right;
    display: none
}

.mobile-manu:hover {
    cursor: pointer
}

.sticky .mobile-manu span {
    margin-top: 0;
    line-height: 1rem
}

.close-btn {
    position: absolute;
    top: 2rem;
    right: 4.5rem;
    font-size: 4.2rem;
    text-decoration: none;
    color: #999
}

.overly {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    z-index: 1;
    overflow-x: hidden;
    -webkit-transition: .5s;
    transition: .5s
}

.overly-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center
}

.overly-content a {
    text-decoration: none;
    letter-spacing: .2rem;
    padding: .6rem 0;
    display: block;
    color: #999;
    text-transform: uppercase
}

.overly-content a:hover {
    color: #fff
}

.services-section {
    color: #fff;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 194, 164, .9)), to(rgba(23, 194, 164, .9))), url(../css/img/services-bg.jpg);
    background: linear-gradient(rgba(23, 194, 164, .9), rgba(23, 194, 164, .9)), url(../css/img/services-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed
}

.services-section h2::after {
    background: #000;
    opacity: 15%
}

.services-icon {
    height: 12rem;
    margin-top: 4.3rem;
    margin-bottom: 3.5rem
}

.team-section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(231, 241, 248, .9)), to(rgba(231, 241, 248, .9))), url(img/team-bg.jpg);
    background: linear-gradient(rgba(231, 241, 248, .9), rgba(231, 241, 248, .9)), url(img/team-bg.jpg);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed
}

.team-section h2::after {
    content: "";
    background: #bdd1df;
    opacity: 75%
}

.team-member {
    margin-top: 4.3rem;
    margin-bottom: 3.5rem;
    height: 20rem;
    width: 20rem;
    border-radius: 50%
}

.team-section h3 {
    color: #27283d;
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: .6rem
}

.role {
    color: #30bae7;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: capitalize
}

.team-section .box p {
    color: #3c4761;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center
}

.social-link {
    margin-top: 4.5rem
}

.social-link ul li {
    display: inline-block;
    margin: 0 .5rem
}

.social-link ul li a {
    color: #fff
}

.social-link ul li a:link i::before {
    background: #bdd1df;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 50%;
    -webkit-transition: 1s;
    transition: 1s
}

.social-link ul li a:hover i::before {
    background: #393939;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
}

.skill-section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .9)), to(rgba(255, 255, 255, .9))), url(img/skill-bg.jpg);
    background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url(img/skill-bg.jpg);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.skill-section h2,
.skill-section h3 {
    color: #3c4761
}

.skill-section h2::after {
    content: "";
    background: #bdd1df;
    opacity: 75%
}

.skill-section .box {
    margin-top: 4.5rem
}

.portfolio-section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(199, 182, 88, 0.9)), to(rgba(199, 182, 88, 0.9))), url(img/portfolio-bg.jpg);
    background: linear-gradient(rgba(199, 182, 88, 0.9), rgba(199, 182, 88, 0.9)), url(img/portfolio-bg.jpg);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.portfolio-section h2::after {
    background: #e5c37f
}

.portfolio-filter {
    margin: 4.5rem 0
}

.portfolio-filter button {
    background: #ebc985;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border: 0;
    text-transform: uppercase;
    color: #3c4761;
    outline: 0;
    margin: 0 1rem;
    border-radius: .5rem;
    -webkit-transition: .5s;
    transition: .5s
}

.portfolio-filter button:hover {
    cursor: pointer;
    background: #fff;
    -webkit-box-shadow: inset 0 .3rem .5rem rgba(235, 201, 133, .9);
    box-shadow: inset 0 .3rem .5rem rgba(235, 201, 133, .9);
    outline: 0
}

.portfolio-image {
    width: 100%;
    height: auto
}

.portfolio-section h4 {
    color: #08102c
}

.portfolio-section .col:nth-child(3) {
    margin-left: 0
}

.portfolio-section .mixitup-control-active {
    background: #fff
}

.testimonial-section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(215, 70, 128, .9)), to(rgba(215, 70, 128, .9))), url(img/testimonial-bg.jpg);
    background: linear-gradient(rgba(215, 70, 128, .9), rgba(215, 70, 128, .9)), url(img/testimonial-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff
}

.testimonial-section h3 {
    text-align: left
}

.testimonial-section h2::after {
    background: #000;
    opacity: 15%
}

.testimonial-section .col:nth-child(3) {
    margin-left: 0
}

.testimonial-section .col:nth-child(1) .testimonial-section .col:nth-child(2) {
    margin-top: 4rem
}

.testimonial-section .col:nth-child(3) .testimonial-section .col:nth-child(4) {
    margin-top: 8rem
}

.client-photo {
    width: 10rem;
    float: left
}

.client-photo img {
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 3rem
}

.client-review {
    width: 35rem;
    float: left
}

.client-review p {
    font-size: 2.1rem;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 2rem
}

.client-review span {
    color: #fd9
}

.contact-section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(60, 84, 153, .9)), to(rgba(60, 84, 153, .9))), url(img/contact-bg.jpg);
    background: linear-gradient(rgba(60, 84, 153, .9), rgba(60, 84, 153, .9)), url(img/contact-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    text-align: center;
    color: #fff
}

.contact-section h2::after {
    background: #273a71
}

.contact-section input[type=email],
.contact-section input[type=text],
.contact-section textarea {
    background: #273a71;
    width: 100%;
    border: 1rem solid #273a71;
    outline: 0;
    color: #fff;
    padding: 1.5rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    color: #fff
}

.contact-section form {
    margin-top: 5rem;
    width: 70%;
    margin-left: 15%
}

.contact-section form ::-webkit-input-placeholder {
    color: #fff;
    opacity: 85%
}

.contact-section form :-ms-input-placeholder {
    color: #fff;
    opacity: 85%
}

.contact-section form ::placeholder {
    color: #fff;
    opacity: 85%
}

.btn-submit {
    border: 0;
    background: #30bae7;
    border-bottom: .3rem solid #299ec5;
    border-radius: .3rem
}

.btn-submit:hover {
    cursor: pointer
}

.footer-section {
    background: #344b8e;
    text-align: center;
    padding: 3rem 0
}

.footer-section li {
    display: inline-block;
    margin: 0 2rem;
    font-size: 2.4rem;
    text-transform: capitalize;
    color: #fff
}

.footer-section ul li a {
    font-size: 2.4rem;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 400
}

.footer-section ul li a:hover {
    color: #30bae7
}
